<div id="a_propos">
  <div id="presentation">
    <h2>Mon parcours</h2>
    <img src="./images/avatar.png" alt="profil_pic">
    <p>J'ai participé à la conception, à la production et au suivi d'applications IT et de projets digitaux en tant qu'acheteuse projet IT et digital au sein de grandes entreprises. Curieuse et interessée par les aspects techniques, je me suis formée sur des sites en ligne, puis inscrite à la formation certifiante d'Ironhack. Je travaille aujourd'hui sur plusieurs projets de sites internet (personnels pour le moment) disponibles en ligne.
</p>
  </div>
  <div id="contact">
    <h3>Me contacter: </h3>
    <em> sarahdamag@gmail.com</em>
  </div>
  {{!-- <form action="/contact" method="POST" id="a_propos_form">
    <div>
      <input type="text" placeholder="Nom" name="nom">
      <input type="text" placeholder="Prénom" name="prenom">
    </div>  
      <input type="text" placeholder="Objet" name="objet">
      <textarea placeholder="Message" name="Message"></textarea>
      <button>Envoyer</button>
  </form> --}}
</div>