<div id="contact">
  <h1>Me contacter</h1>
  <form action="/contact" method="POST" id="contact_form">
    <div>
      <input type="text" placeholder="Nom" name="nom">
      <input type="text" placeholder="Prénom" name="prenom">
    </div>  
      <input type="text" placeholder="Objet" name="objet">
      <textarea placeholder="Message" name="Message"></textarea>
      <button>Envoyer</button>
  </form>
</div>