<div id="contact">
    {{!-- <form action="/contact" method="POST" id="a_propos_form">
      <div>
        <input type="text" placeholder="Nom" name="nom">
        <input type="text" placeholder="Prénom" name="prenom">
      </div>  
      <input type="text" placeholder="Objet" name="objet">
      <textarea placeholder="Message" name="Message"></textarea>
      <button>Envoyer</button>
  </form> --}}
  <h2>Contactez-moi !  </h2>
  <a id="mailto" href="mailto:sarahdamag@gmail.com"> sarahdamag@gmail.com</a>
<div id="liens-mobile">
        <a target="_blank" class="lien_reseau" href="https://github.com/sarah-Dm"><img src="./images/github.svg" alt="github"> </a>
        <a target="_blank" class="lien_reseau" href="https://www.linkedin.com/in/sarahdamag/"><img id="linkedin_icon" src="./images/linkedin.svg" alt="linkedin"> </a>
      </div>
</div>

