<div id="a_propos">
  <div id="presentation">
    <h2>Qui suis-je </h2>
    <img src="./images/avatar.png" alt="profil_pic">
    <p>Ecole de commerce.</p>
    <p>Paris, Bordeaux, Wuhan*.</p>
    <p>Un Master spécialisé en Achat. </p>
    <p>Négocier, appels d'offres, objectif savings, SaaS, PaaS, intégration, solution, application, production, je me suis immergée dans cet environnement nébuleux et si omniprésent dans notre quotidien. </p>
    <p>Depuis ma fenêtre formaliste et fonctionnelle j'ai eu envie d'explorer cet univers, de comprendre en détail comment fonctionnent un site e-commerce, une marketplace, un chatbot, un réseau social... en repartant de la base : une idée, une page blanche (ou plutôt noire) </p>
    <p>et un outil, le développement. </p>
  </div>
  <div id="contact">
    <div>
      <h2>Contactez-moi !  </h2>
      <p> sarahdamag@gmail.com</p>
      <a target="_blank" href="https://www.linkedin.com/in/sarahdamag/"><img src="./images/linkedin_icon.png" alt="linkedin"> 
      </a>
    </div>
    <em>*promis je n’ai pas mangé de pangolin </em>
  </div>
  {{!-- <form action="/contact" method="POST" id="a_propos_form">
    <div>
      <input type="text" placeholder="Nom" name="nom">
      <input type="text" placeholder="Prénom" name="prenom">
    </div>  
      <input type="text" placeholder="Objet" name="objet">
      <textarea placeholder="Message" name="Message"></textarea>
      <button>Envoyer</button>
  </form> --}}

</div>