<div id="home">
  <section id="titre">
  </section>
  {{!-- <section id="animation">
    <canvas id="canvas" width= "200" height= "300";></canvas>
  </section> --}}
  <div id="icons">
    <div class="icons" id="icons1">
      <div>
        <img class="icons_img" src="./svg/idee.svg" alt="idee_svg">
        <div class="icons_text">hello</div>
      </div>
      <div>
        <img class="icons_img" src="./svg/ecran.svg" alt="ecran_svg">
        <div class="icons_text" >hello</div>
      </div>
    </div>
    <div class="icons" id="icons2">
      <div>
        <img class="icons_img" src="./svg/projet.svg" alt="projet_svg">
        <div class="icons_text">hello</div>
      </div>
      <div>
        <img class="icons_img" src="./svg/contact.svg" alt="contact.svg">
        <div class="icons_text">hello</div>
      </div>
    </div>
  </div>
</div>
