<div id="home">
  <section id="titre">
  </section>
  {{!-- <section id="animation">
    <canvas id="canvas" width= "200" height= "300";></canvas>
  </section> --}}
  <div id="icons">
    <div class="each_icon">
      <img class="icons_img" src="./svg/idee.svg" alt="idee_svg">
      <div id="icons_text_1">Une idée</div>
    </div>
    <div class="each_icon">
      <img class="icons_img" src="./svg/contact.svg" alt="contact.svg">
      <div id="icons_text_4">Des échanges</div>
    </div>
    <div class="each_icon">
      <img class="icons_img" src="./svg/projet.svg" alt="projet_svg">
       <div id="icons_text_3">Une conception</div>
    </div>
    <div class="each_icon">
      <img class="icons_img" src="./svg/ecran.svg" alt="ecran_svg">
      <div id="icons_text_2" >Une production</div>
    </div>
  
    
  </div>
</div>
