<div id="home">
  <section id="titre">
    <h1>D</h1>
    <h2>é</h2>
    <h2>v</h2>
    <h2>e</h2>
    <h2>l</h2>
    <h2>o</h2>
    <h2>p</h2>
    <h2>p</h2>
    <h2>e</h2>
    <h2>u</h2>
    <h2>s</h2>
    <h2>e</h2>
    <h1>W</h1>
    <h2>e</h2>
    <h2>b</h2>
    <h3>Développeuse débutante - Javascript</h3>
  </section>
  <section id="animation">
    <canvas id="canvas" width= "500" height= "600";></canvas>
  </section>
</div>