<div id="home">
  <section>
    <h1>D</h1>
    <h2>é</h2>
    <h2>v</h2>
    <h2>e</h2>
    <h2>l</h2>
    <h2>o</h2>
    <h2>p</h2>
    <h2>p</h2>
    <h2>e</h2>
    <h2>u</h2>
    <h2>s</h2>
    <h2>e</h2>
    <h1>W</h1>
    <h2>e</h2>
    <h2>b</h2>
    <h3>Développeuse débutante - Javascript</h3>
  </section>
</div>