<div id="home">
  <section id="titre">
    <h1>D</h1>
    <h2>é</h2>
    <h2>v</h2>
    <h2>e</h2>
    <h2>l</h2>
    <h2>o</h2>
    <h2>p</h2>
    <h2>p</h2>
    <h2>e</h2>
    <h2>u</h2>
    <h2>s</h2>
    <h2>e</h2>
    <h1>W</h1>
    <h2>e</h2>
    <h2>b</h2>
    <hr>
    <h3>D</h3>
    <h3>é</h3>
    <h3>v</h3>
    <h3>e</h3>
    <h3>l</h3>
    <h3>o</h3>
    <h3>p</h3>
    <h3>p</h3>
    <h3>e</h3>
    <h3>u</h3>
    <h3>s</h3>
    <h3>e</h3>
    <h3>_</h3>
    <h3>d</h3>
    <h3>é</h3>
    <h3>b</h3>
    <h3>u</h3>
    <h3>t</h3>
    <h3>a</h3>
    <h3>n</h3>
    <h3>t</h3>
    <h3>e</h3>
    <h3>-</h3>
    <h3>J</h3>
    <h3>a</h3>
    <h3>v</h3>
    <h3>a</h3>
    <h3>S</h3>
    <h3>c</h3>
    <h3>r</h3>
    <h3>i</h3>
    <h3>p</h3>
    <h3>t</h3>
  </section>
  <section id="animation">
    <canvas id="canvas" width= "200" height= "300";></canvas>
  </section>
</div>