<div id="home">
  <section id="titre">
  </section>
  {{!-- <section id="animation">
    <canvas id="canvas" width= "200" height= "300";></canvas>
  </section> --}}
  <div id="icons">
    <div class="each_icon">
      <img class="icons_img" src="./svg/idee.svg" alt="idee_svg">
      <div id="icons_text_1">
        <p>Une idée</p> 
      </div>
    </div>
    <div class="each_icon">
      <img class="icons_img" src="./svg/contact.svg" alt="contact.svg">
      <div id="icons_text_4">
       <p>Des échanges</p> 
      </div>
    </div>
    <div class="each_icon">
      <img class="icons_img" src="./svg/projet.svg" alt="projet_svg">
       <div id="icons_text_3">
        <p>Une conception</p>  
      </div>
    </div>
    <div class="each_icon">
      <img class="icons_img" src="./svg/ecran.svg" alt="ecran_svg">
      <div id="icons_text_2" >
       <p>Une production</p> 
      </div>
    </div>
  
    
  </div>
</div>
