<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div id="all-content">
    <nav>
      <a href="/"><h1>SARAH DM</h1></a>
      <ul id="menu">
        <li>
          <a class ="lienMenu" href="/projets_menes">
            <h4>Projets</h4>
          </a>
        </li>
        <li>
          <a class ="lienMenu" href="/expertise">
            <h4>Expertise</h4>
           </a>
        </li>
        <li>
          <a class ="lienMenu" href="/contact">
           <h4>Contact</h4>
          </a>
        </li>
      </ul>
      <div id="liens">
        <a target="_blank" class="lien_reseau" href="https://github.com/sarah-Dm"><img src="./images/gitHub.svg" alt="github"> </a>
        <a target="_blank" class="lien_reseau" href="https://www.linkedin.com/in/sarahdamag/"><img id="linkedin_icon" src="./images/linkedin.svg" alt="linkedin"> </a>
      </div>
    </nav>
    <main id="content">

    {{{body}}}
    </main>
  </div>
  <script src="/javascripts/script.js"></script>
</body>
</html>