<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div id="all-content">
    <nav>
      <a href="/"><h1>Sarah Dm</h1></a>
      <ul id="menu">
        <li>
          <a id="chapeauIcon" class ="lienMenu" href="/">
            <svg width="62" height="41" viewBox="0 0 62 41" fill="none" xmlns="http://www.w3.org/2000/svg" class="menuIcons">
              <path d="M60.3199 27.8657L60.3494 27.8791L60.3792 27.8882L60.3794 27.8882L60.3798 27.8884L60.3804 27.8886L60.3811 27.8888L60.3941 27.8931C60.4067 27.8972 60.4266 27.9041 60.4525 27.9137C60.5046 27.9329 60.5796 27.9625 60.6665 28.0026C60.8451 28.0851 61.0529 28.2022 61.2189 28.3496C61.386 28.498 61.474 28.6436 61.4948 28.7833C61.5138 28.911 61.491 29.1295 61.2337 29.4634C60.692 30.1663 59.2696 31.1724 56.0821 32.4704C52.9209 33.7577 48.0992 35.3036 40.8591 37.1304C29.7485 39.9338 19.551 40.7387 12.1438 40.4421C8.4369 40.2937 5.44862 39.8701 3.40142 39.2929C2.3743 39.0034 1.61338 38.6831 1.12058 38.3589C0.609159 38.0225 0.5 37.7614 0.5 37.6152C0.5 37.5138 0.534739 37.3511 0.644013 37.118C0.751214 36.8895 0.917446 36.62 1.14693 36.3133C1.60598 35.6998 2.28989 34.9748 3.17188 34.1794C4.93375 32.5905 7.4432 30.7593 10.4058 29.0237C16.3414 25.5462 24.014 22.5 31.0513 22.5C45.3148 22.5 53.6137 24.825 60.3199 27.8657Z" stroke="#a904d3"/>
              <path d="M20.3731 11.5195C19.4369 5.74181 23.8977 0.5 29.7508 0.5H35.9388C41.5631 0.5 45.956 5.35909 45.3907 10.9549L45.0414 14.4126C44.9729 15.0905 44.9706 15.7735 45.0344 16.4519L45.4728 21.1098C45.9974 26.6835 41.613 31.5 36.0146 31.5H29.6229C23.8113 31.5 19.3618 26.3284 20.2293 20.5819L20.7616 17.0557C20.9242 15.979 20.9182 14.8837 20.7441 13.8089L20.3731 11.5195Z" fill="#100F0F" fill-opacity="0.97" stroke="#a904d3"/>
              <rect x="19" y="27" width="27" height="5" rx="2.5" fill="#a904d3"/>
            </svg>
          </a>
        </li>
        <li>
          <a id="chantierIcon" class ="lienMenu" href="/projets_menes">
            <svg width="50" height="38" viewBox="0 0 35 38" fill="none" xmlns="http://www.w3.org/2000/svg" class="menuIcons">
              <line y1="36.5" x2="35" y2="36.5" stroke="#a904d3"/>
              <line y1="-0.75" x2="35.8421" y2="-0.75" transform="matrix(-0.260402 0.9655 -0.951081 -0.308943 13.3334 2)" stroke="#a904d3" stroke-width="1.5"/>
              <line y1="-0.75" x2="35.8383" y2="-0.75" transform="matrix(-0.262378 -0.964965 0.950339 -0.311218 30.4032 36.5827)" stroke="#a904d3" stroke-width="1.5"/>
              <path d="M13 16L21 16" stroke="#a904d3" stroke-width="2" stroke-linecap="round"/>
              <path d="M10.5 26.4672H23.5" stroke="#a904d3" stroke-width="2" stroke-linecap="round"/>
              <path d="M16 3H18" stroke="#a904d3" stroke-width="2" stroke-linecap="square"/>
            </svg>
          </a>
        </li>
        <li>
          <a id="lunettesIcon" class ="lienMenu" href="/offre">
            <svg width="90" height="65" viewBox="0 0 90 65" fill="none" xmlns="http://www.w3.org/2000/svg" class="menuIcons">
              <line x1="48.785" y1="34.3732" x2="41.2149" y2="34.3732" stroke="#a904d3"/>
              <line y1="-0.5" x2="19.3901" y2="-0.5" transform="matrix(0.192579 0.981282 -0.974022 0.226452 56.3552 18.3099)" stroke="#a904d3"/>
              <line y1="-0.5" x2="17.3305" y2="-0.5" transform="matrix(-0.124274 0.992248 -0.989171 -0.146766 31.9628 18.3099)" stroke="#a904d3"/>
              <path d="M42.7382 39.3662C42.7382 42.8279 39.8281 45.6902 36.1681 45.6902C32.5081 45.6902 29.598 42.8279 29.598 39.3662C29.598 35.9045 32.5081 33.0423 36.1681 33.0423C39.8281 33.0423 42.7382 35.9045 42.7382 39.3662Z" stroke="#a904d3" stroke-width="2"/>
              <path d="M60.4019 39.3662C60.4019 42.8279 57.4918 45.6902 53.8318 45.6902C50.1718 45.6902 47.2617 42.8279 47.2617 39.3662C47.2617 35.9045 50.1718 33.0423 53.8318 33.0423C57.4918 33.0423 60.4019 35.9045 60.4019 39.3662Z" stroke="#a904d3" stroke-width="2"/>
            </svg>
          </a>
        </li>
        <li>
          <a id="contactIcon" class ="lienMenu" href="/contact">
            <svg width="60" height="50" viewBox="0 0 60 50" fill="none" xmlns="http://www.w3.org/2000/svg" class="menuIcons">
              <mask id="path-1-inside-1" fill="white">
                <path d="M36.8299 18.679C35.1006 15.0915 32.2473 12.2494 28.7563 10.6368C25.2653 9.02425 21.3525 8.74103 17.6846 9.83541C14.0168 10.9298 10.8208 13.3341 8.64122 16.6386C6.46167 19.9431 5.4334 23.9434 5.73163 27.9578C6.02985 31.9723 7.63611 35.7525 10.2767 38.6545C12.9173 41.5564 16.4289 43.4005 20.2131 43.8724C23.9974 44.3444 27.8201 43.4151 31.0299 41.2429C34.2398 39.0707 36.6382 35.7899 37.8165 31.9596L22.1524 26.5864L36.8299 18.679Z"/>
              </mask>
                <path d="M36.8299 18.679C35.1006 15.0915 32.2473 12.2494 28.7563 10.6368C25.2653 9.02425 21.3525 8.74103 17.6846 9.83541C14.0168 10.9298 10.8208 13.3341 8.64122 16.6386C6.46167 19.9431 5.4334 23.9434 5.73163 27.9578C6.02985 31.9723 7.63611 35.7525 10.2767 38.6545C12.9173 41.5564 16.4289 43.4005 20.2131 43.8724C23.9974 44.3444 27.8201 43.4151 31.0299 41.2429C34.2398 39.0707 36.6382 35.7899 37.8165 31.9596L22.1524 26.5864L36.8299 18.679Z" stroke="#a904d3" stroke-width="2" mask="url(#path-1-inside-1)"/>
                <path d="M45.8645 16.9905C62.3747 21.354 64.9952 -1.65376 44.0138 1.25523C37.1927 2.20095 30.599 15.4366 44.0138 15.4366" stroke="#a904d3"/>
                <path d="M44.0664 15.091C43.8688 16.4728 37.8005 24.7089 41.5636 21.1923C45.3268 17.6756 43.1721 19.4819 46.2085 16.6269" stroke="#a904d3"/>
            </svg>
          </a>
        </li>
      </ul>
      <div id="liens">
        <a target="_blank" id="bas-menu" href="https://github.com/sarah-Dm"><img src="./images/GitHub.png" alt="github"> </a>
        <a target="_blank" id="bas-menu" href="https://www.linkedin.com/in/sarahdamag/"><img id="linkedin_icon" src="./images/linkedin_icon.png" alt="linkedin"> </a>
      </div>
    </nav>

    {{{body}}}
  </div>
  <script src="/javascripts/script.js"></script>
</body>
</html>