<div id="offre">
  {{!-- <canvas id="canvas" width="500" height="500">
  </canvas> --}}
  <section id="savoir-faire">
    <h2>Savoirs-faire</h2>
    <ul>
      <li>
        <img src="./images/cooperation.svg" alt="cooperation">
        <h4>Coopération avec des équipes diverses</h4>
      </li>
      <li>
        <img src="./images/projet.svg" alt="projet">
        <h4>Gestion de projet</h4>
      </li>
      <li>
        <img src="./images/negociation.svg" alt="negociation">
        <h4>Négociation</h4>
      </li>
      <li>
        <img src="./images/international.svg" alt="projet">
        <h4>Collaboration à l’international</h4>
      </li>
      <li>
        <img src="./images/client.svg" alt="client"> 
        <h4>Expériences coté client</h4>
      </li>
    </ul>
  </section>
  <div id="offre-basse">
    <section id="techniques">
      <h2>Techniques</h2>
      <ul>
        <li>
          <img src="./images/HTML5_logo.png" alt="html">
          <img src="./images/CSS3_logo.svg" alt="css">
        </li>
        <li>
          <img src="./images/javascript_logo.svg" alt="javascript">
        </li>
        <li>
          <img src="./images/node_logo.svg" alt="node">
        </li>
        <li>
          <img src="./images/react_logo.png" alt="react">
        </li>
        <li>
          <img src="./images/MongoDB_logo.svg" alt="MongoDB">
        </li>
      </ul>
    </section>
    <section id="secteurs">
      <h2>Multi-secteurs</h2>
      <ul>
        <li>Luxe</li>
        <li>Pharmaceutique</li>
        <li>Agroalimentaire</li>
        <li>Assurance</li>
        <li>Aéronautique</li>
      </ul>
    </section>
  </div>
</div>

