<div id="projets_menes">
    <h2>Projets récents</h2>
    <div id="liste_projets">
    <div class="projet">
      
      <a target="_blank" href="https://meetyourfood.herokuapp.com/">
        <img src="./images/MeetYourFood_image.png" alt="MeetYourFood">
        <p id="description_projet">Meet Your Food: rencontrez ceux qui fabriquent ce que vous mangez ! </p>
      </a>    
    </div>
    <div class="projet">
      <img src="./images/jeu.png" alt="jeu">
      <a target="_blank" href="https://sarah-dm.github.io/projet-jeu/">
        <p id="description_projet">Scoop: jeu interactif pour PC et mobile</p>
      </a>
    </div>
    <div class="projet">
      <img src="./images/site_camille.png" alt="camille">
      <a target="_blank" href="https://sarah-dm.github.io/site_camille/">
        <p id="description_projet">Portfolio d'une styliste talentueuse</p>
      </a>    
    </div>
    

  </div>
</div>