<div id="projets_menes">
    <h2>Projets récents</h2>
    <div id="liste_projets">
    <div class="projet">
      <img src="./images/MeetYourFood_image.png" alt="MeetYourFood">
      <div class="descriptions_projets" id="description_projet_1">
        <p>Meet Your Food: rencontrez ceux qui fabriquent ce que vous mangez ! </p>        
        <a class="lien_big_screens" target="_blank" href="https://meetyourfood.herokuapp.com/">Je rentres dans le pré !
        </a>  
        <a class="lien_mobile" target="_blank" href="https://meetyourfood.herokuapp.com/">Meet Your Food: rencontrez ceux qui fabriquent ce que vous mangez ! 
        </a>  
      </div>  
    </div>
    <div class="projet">
      <img src="./images/jeu.png" alt="jeu">
      <div class="descriptions_projets" id="description_projet_2">
        <p>Scoop: jeu interactif pour PC et mobile</p>
        <a class="lien_big_screens" target="_blank" href="https://sarah-dm.github.io/projet-jeu/">Une petite partie !
        </a>
        <a class="lien_mobile" target="_blank" href="https://sarah-dm.github.io/projet-jeu/">Scoop: jeu interactif pour PC et mobile 
        </a>
      </div>
    </div>
    <div class="projet">
      <img src="./images/site_camille.png" alt="camille">
      <div class="descriptions_projets" id="description_projet_3">
        <p>Portfolio d'une styliste talentueuse</p>
        <a class="lien_big_screens" target="_blank" href="https://sarah-dm.github.io/site_camille/">Explorer son univers !
        </a>
        <a class="lien_mobile" target="_blank" href="https://sarah-dm.github.io/site_camille/">Portfolio d'une styliste talentueuse 
        </a>   
      </div>  
    </div>
  </div>
</div>