<div id="projets_menes">
    <h2>Projets récents</h2>
    <div id="liste_projets">
    <div class="projet">
      <div class='visuel'>
        <img src="./images/visuel_meetYourFood.svg" alt="MeetYourFood">
        <div class="descriptions_projets">
          <a class="lien_big_screens" target="_blank" href="https://meetyourfood.herokuapp.com/">Voir
          </a>   
        </div>
      </div>  
      <h4>MEET YOUR FOOD</h4>
      <p>Allez à la rencontre de votre alimentation </p>        
      <em>NodeJS, Javascript, MongoDB</em>
    </div>
    <div class="projet">
      <div class='visuel'>
        <img src="./images/visuel_scoop.svg" alt="jeu">
        <div class="descriptions_projets">
        <a class="lien_big_screens" target="_blank" href="https://sarah-dm.github.io/projet-jeu/">Voir
        </a>
      </div>
      </div>  
      <h4>SCOOP</h4>
      <p>Jeu interactif pour PC et mobile</p>
      <em>Javascript</em>
    </div>
    <div class="projet">
      <div class='visuel'>
        <img src="./images/visuel_portfolio.svg" alt="camille">
        <div class="descriptions_projets">
          <a class="lien_big_screens" target="_blank" href="https://sarah-dm.github.io/site_camille/">Voir
          </a>
      </div>
      </div>  
      <h4>PORTFOLIO</h4>
      <p>Book d'inspiration d'une styliste talentueuse</p>
      <em>HTML, CSS</em>
    </div>
    <div class="projet">
      <div class='visuel'>
        <img src="./images/visuel_aadh.svg" alt="aadh">
        <div class="descriptions_projets">
          <a class="lien_big_screens" target="_blank" href="https:/aadhdemo.herokuapp.com/">Voir
          </a>
      </div>
      </div>  
      <h4>AADH</h4>
      <p>Site de mise en relation entre ONG et avocats</p>
      <em>ReactJS</em>
    </div>
  </div>
</div>