<div id="projets_menes">
    <h2>Projets récents</h2>
    <div id="liste_projets">
    <div class="projet">
      <img src="./images/MeetYourFood_image.png" alt="MeetYourFood">
      <a target="_blank" href="https://meetyourfood.herokuapp.com/">
          <p id="description_projet">Plateforme permettant aux particuliers de mieux connaître ce qu'ils mangent</p>
      </a>    
    </div>
    <div class="projet">
      <img src="./images/site_camille.png" alt="camille">
      <a target="_blank" href="https://sarah-dm.github.io/site_camille/">
        <p id="description_projet">Site vitrine présentation du travail d'une styliste </p>
      </a>    
    </div>
    <div class="projet">
      <img src="./images/jeu.png" alt="jeu">
      <a target="_blank" href="https://sarah-dm.github.io/projet-jeu/">
        <p id="description_projet">Jeu pour PC et mobile</p>
      </a>
    </div>

  </div>
</div>