<div id="projets_menes">
    <h2>Projets récents</h2>
    <div id="liste_projets">
    <div class="projet">
      <img src="./images/visuel_meetYourFood.svg" alt="MeetYourFood">
      <div class="descriptions_projets">
        <a class="lien_big_screens" target="_blank" href="https://meetyourfood.herokuapp.com/">Voir
        </a>  
        <a class="lien_mobile" target="_blank" href="https://meetyourfood.herokuapp.com/">Meet Your Food: rencontrez ceux qui fabriquent ce que vous mangez ! 
        </a>  
      </div>  
      <h4>MEET YOUR FOOD</h4>
      <p>Allez à la rencontre de votre alimentation </p>        
      <em>NodeJS, Javascript, MongoDB</em>
    </div>
    <div class="projet">
      <img src="./images/visuel_scoop.svg" alt="jeu">
      <div class="descriptions_projets">
        <a class="lien_big_screens" target="_blank" href="https://sarah-dm.github.io/projet-jeu/">Voir
        </a>
        <a class="lien_mobile" target="_blank" href="https://sarah-dm.github.io/projet-jeu/">
        Scoop: jeu interactif pour PC et mobile 
        </a>
      </div>  
      <h4>SCOOP</h4>
      <p>Jeu interactif pour PC et mobile</p>
      <em>Javascript</em>
    </div>
    <div class="projet">
      <img src="./images/visuel_portfolio.svg" alt="camille">
      <div class="descriptions_projets">
        <a class="lien_big_screens" target="_blank" href="https://sarah-dm.github.io/site_camille/">Voir
        </a>
        <a class="lien_mobile" target="_blank" href="https://sarah-dm.github.io/site_camille/">Portfolio d'une styliste talentueuse 
        </a>   
      </div>  
      <h4>PORTFOLIO</h4>
      <p>Book d'inspiration d'une styliste talentueuse</p>
      <em>HTML, CSS</em>
    </div>
  </div>
</div>