/*
                                                           
 #    #   ##   #####  #   ##   #####  #      ######  ####  
 #    #  #  #  #    # #  #  #  #    # #      #      #      
 #    # #    # #    # # #    # #####  #      #####   ####  
 #    # ###### #####  # ###### #    # #      #           # 
  #  #  #    # #   #  # #    # #    # #      #      #    # 
   ##   #    # #    # # #    # #####  ###### ######  ####  
                                                           
*/
:root {
  --light--background: #8e838e;
  --dark--background: #766d6d;
  --font--color: #a904d3;
  --dack: #635f5f; }

* {
  box-sizing: border-box; }

body {
  padding: 50px;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 22px;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(var(--dark--background), var(--light--background));
  color: var(--font--color);
  font-family: 'Raleway', sans-serif; }

#all-content {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh; }

@media (max-width: 768px) {
  #all-content {
    height: auto; } }

h1 {
  margin: 0px;
  font-size: 20px;
  letter-spacing: 2px; }

@media (max-width: 425px) {
  nav h1 {
    font-size: 8px; } }

nav {
  background-color: black;
  width: 8%;
  height: 100%;
  color: var(--font--color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 10px; }

@media (max-width: 768px) {
  nav {
    position: fixed;
    width: 10%; } }

@media (max-width: 425px) {
  nav {
    width: 47px;
    align-items: center; } }

@media (max-width: 425px) {
  nav svg {
    width: 30px; } }

nav ul {
  list-style: none;
  padding: 0px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; }

@media (max-width: 425px) {
  nav ul {
    font-size: 6px; } }

nav ul li {
  padding: 15px; }

.menuIcons {
  text-align: center; }

.lienMenu {
  position: relative;
  text-align: center; }

.menuTitles:hover {
  opacity: 1; }

.lienMenu:after {
  position: absolute;
  letter-spacing: 2px;
  display: block;
  width: 100%;
  bottom: 0px;
  text-align: center;
  color: var(--font--color);
  align-self: center; }

#chapeauIcon:hover:after {
  content: 'HOME';
  transform: translate(0%, -90%); }

#chantierIcon:hover:after {
  content: 'PROJETS';
  transform: translate(0%, -90%); }

@media (max-width: 425px) {
  #chantierIcon:hover:after {
    transform: translate(-36%, -93%); } }

@media (max-width: 425px) {
  #chantierIcon svg {
    width: 20px; } }

#lunettesIcon:hover:after {
  content: 'OFFRE';
  transform: translate(0%, -250%); }

@media (max-width: 425px) {
  #lunettesIcon svg {
    width: 40px; } }

#contactIcon:hover:after {
  content: 'CONTACT';
  transform: translate(0%, -200%); }

@media (max-width: 425px) {
  #contactIcon:hover:after {
    transform: translate(-12%, -200%); } }

.lienMenu:hover .menuIcons {
  visibility: hidden; }

#bas-menu {
  color: var(--font--color);
  text-decoration: none;
  font-size: 13px; }

#bas-menu img {
  width: 30px; }

/*                         
 #    #  ####  #    # ###### 
 #    # #    # ##  ## #      
 ###### #    # # ## # #####  
 #    # #    # #    # #      
 #    # #    # #    # #      
 #    #  ####  #    # ###### 
*/
#home {
  align-self: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-left: 10px; }

@media (max-width: 768px) {
  #home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90%;
    margin-left: 47px; } }

@media (max-width: 425px) {
  #home {
    height: 100vh; } }

#home #titre {
  padding-top: 30%;
  width: 45%; }

@media (max-width: 768px) {
  #home #titre {
    padding-top: 0;
    text-align: center;
    width: 100%; } }

@media (max-width: 425px) {
  #home #titre {
    font-size: 12px; } }

#home h1 {
  font-size: 4em;
  transition-property: font-size;
  transition-duration: 0.5s;
  display: inline;
  opacity: 0; }

#home h2 {
  font-size: 1.5em;
  transition-property: font-size;
  transition-duration: 0.5s;
  display: inline;
  opacity: 0; }

#home h3 {
  font-size: 16px;
  transition-property: font-size;
  transition-duration: 0.5s;
  display: inline;
  opacity: 0; }

@media (max-width: 425px) {
  #home h3 {
    font-size: 10px; } }

#home h2,
#home h1,
#home h3 {
  animation-name: appear;
  animation-iteration-count: infinite;
  animation-duration: 5s; }

@keyframes appear {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(40px);
    opacity: 1; } }

#home h2:hover {
  font-size: 60px; }

#home h1:hover {
  font-size: 120px; }

#animation {
  width: 50%;
  display: flex;
  margin: 30px; }

@media (max-width: 425px) {
  #animation {
    width: auto;
    margin: 0px;
    margin-top: 20px; } }

#canvas {
  border: none;
  margin: 30px;
  align-self: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-image: url("../images/Code_canvas.png");
  background-size: 100%; }

/*
 ######                                           
 #     # #####   ####       # ###### #####  ####  
 #     # #    # #    #      # #        #   #      
 ######  #    # #    #      # #####    #    ####  
 #       #####  #    #      # #        #        # 
 #       #   #  #    # #    # #        #   #    # 
 #       #    #  ####   ####  ######   #    ####  
                                                  
*/
#projets_menes a {
  width: 33%;
  height: 100%; }

@media (max-width: 768px) {
  #projets_menes a {
    width: 100%; } }

#projets_menes {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

@media (max-width: 768px) {
  #projets_menes {
    padding: 0;
    margin-left: 10%; } }

#projets_menes_icons {
  text-align: center;
  display: flex;
  width: 33%;
  justify-content: center; }

@media (max-width: 768px) {
  #projets_menes_icons {
    display: none; } }

#projets_menes_icons div {
  align-self: center; }

#projets_menes_icons svg {
  margin: 5px 10px; }

.projets_menes_img {
  display: flex;
  flex-direction: row;
  height: 33%;
  align-items: center; }

@media (max-width: 768px) {
  .projets_menes_img {
    flex-direction: column; } }

.projets_menes_img img {
  width: 100%;
  height: 100%;
  transition: all 1s ease; }

.projets_menes_img img:hover {
  transform: scale(1.1); }

/*
                                                
  ####   ####  #    # #####   ##    ####  ##### 
 #    # #    # ##   #   #    #  #  #    #   #   
 #      #    # # #  #   #   #    # #        #   
 #      #    # #  # #   #   ###### #        #   
 #    # #    # #   ##   #   #    # #    #   #   
  ####   ####  #    #   #   #    #  ####    #   
 */
#contact {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px; }

@media (max-width: 768px) {
  #contact {
    margin-top: 80px;
    margin-left: 55px;
    height: 100vh;
    font-size: 15px; } }

#contact h1 {
  margin-bottom: 40px; }

#contact div {
  display: flex; }

#contact div input {
  width: 50%; }

#contact div input:nth-child(1) {
  margin-right: 20px; }

#contact_form {
  display: flex;
  flex-direction: column;
  width: 35vw; }

#contact input,
#contact textarea {
  border-radius: 5px;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 15px;
  background: var(--light--background);
  border: none;
  margin: 15px 0px;
  color: var(--font--color);
  padding-left: 5px; }

#contact input {
  height: 40px; }

#contact textarea {
  height: 200px; }

#contact input::placeholder,
#contact textarea::placeholder {
  color: var(--font--color);
  padding-left: 5px;
  font-style: italic;
  font-size: 12px; }

#contact button {
  width: fit-content;
  align-self: flex-end;
  font-size: 15px;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: var(--font--color);
  background: none;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--font--color); }

#contact input:hover,
#contact input:focus,
#contact textarea:hover,
#contact textarea:focus {
  outline: none !important;
  box-shadow: 1px 2px var(--font--color); }

#contact button:hover {
  background-color: var(--font--color);
  color: var(--light--background);
  cursor: pointer; }

/*                                   
  ####  ###### ###### #####  ###### 
 #    # #      #      #    # #      
 #    # #####  #####  #    # #####  
 #    # #      #      #####  #      
 #    # #      #      #   #  #      
  ####  #      #      #    # ###### 
*/
#offre {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 40px; }

@media (max-width: 768px) {
  #offre {
    margin-left: 10%;
    margin-right: 0px;
    margin-top: 0px;
    width: 90%; } }

@media (max-width: 425px) {
  #offre {
    margin-left: 11%; } }

#offre h1 {
  text-shadow: 2px 2px 2px var(--dack); }

#savoir-faire {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dack); }

@media (max-width: 768px) {
  #savoir-faire {
    margin: 20px;
    padding: 20px; } }

#savoir-faire h1 {
  text-align: center;
  text-shadow: 2px 2px 2px var(--dack); }

@media (max-width: 768px) {
  #savoir-faire h1 {
    text-align: left; } }

#savoir-faire ul {
  display: flex;
  list-style: none;
  margin-bottom: 0px; }

@media (max-width: 768px) {
  #savoir-faire ul {
    flex-direction: column;
    margin-top: 10px;
    padding-left: 0px; } }

#savoir-faire ul li {
  width: 20%;
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (max-width: 768px) {
  #savoir-faire ul li {
    flex-direction: row;
    width: 100%; } }

@media (max-width: 425px) {
  #savoir-faire ul li h1,
  #savoir-faire ul li h4 {
    font-size: 12px; } }

#savoir-faire ul li h4 {
  text-align: center;
  margin-top: 25px; }

@media (max-width: 768px) {
  #savoir-faire ul li h4 {
    margin: 15px; } }

@media (max-width: 425px) {
  #savoir-faire ul li h4 {
    text-align: left; } }

#savoir-faire img {
  transition: 0.3s ease-in-out; }

@media (max-width: 425px) {
  #savoir-faire img {
    width: 20%; } }

#savoir-faire img:hover {
  transform: scale(1.5); }

#offre-basse {
  display: flex;
  justify-content: space-evenly;
  height: 50%; }

@media (max-width: 768px) {
  #offre-basse {
    height: auto;
    flex-direction: column;
    margin: 0px 20px; } }

@media (max-width: 425px) {
  #offre-basse {
    font-size: 12px; } }

#offre-basse section {
  margin: 30px; }

#offre-basse ul {
  list-style: none;
  width: 100%;
  margin: 0;
  margin-top: 20px;
  padding: 0; }

#offre-basse #techniques {
  position: relative;
  width: 50%;
  margin: 12px; }

@media (max-width: 768px) {
  #offre-basse #techniques {
    width: 100%;
    height: 200px; } }

#offre-basse #techniques li {
  position: absolute;
  padding: 6px;
  border-radius: 10px;
  height: 4em;
  text-align: center; }

#offre-basse #techniques img {
  height: 100%; }

#offre-basse #techniques li:nth-child(1) {
  top: 80%;
  left: 30%;
  animation: bounce 2s 3s infinite; }

#offre-basse #techniques li:nth-child(2) {
  top: 60%;
  left: 60%;
  animation: bounce 2s 2s infinite; }

#offre-basse #techniques li:nth-child(3) {
  top: 20%;
  right: 5%;
  animation: bounce 2s 1s infinite; }

#offre-basse #techniques li:nth-child(4) {
  top: 55%;
  right: 70%;
  animation: bounce 2s infinite; }

#offre-basse #techniques li:nth-child(5) {
  top: 20%;
  left: -10%;
  animation: bounce 2s 4s infinite; }

#offre-basse #secteurs {
  width: 50%; }

@media (max-width: 768px) {
  #offre-basse #secteurs {
    margin: 12px;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */