/*
                                                           
 #    #   ##   #####  #   ##   #####  #      ######  ####  
 #    #  #  #  #    # #  #  #  #    # #      #      #      
 #    # #    # #    # # #    # #####  #      #####   ####  
 #    # ###### #####  # ###### #    # #      #           # 
  #  #  #    # #   #  # #    # #    # #      #      #    # 
   ##   #    # #    # # #    # #####  ###### ######  ####  
                                                           
*/
:root {
  --light--background: #8e838e;
  --dark--background: #766d6d;
  --font--color: #a904d3;
  --light--black: rgb(48, 39, 39);
  --nav--width-max425px: 47px;
  --nav--width-max1024px: 18%;
  //bold with {font-weight:800}, nomral with {font-weight:400}
}

* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font-size: 22px;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(black, var(--light--black));
  color: var(--font--color);
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

body h2 {
  font-weight: 400;
}

#all-content {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

#all-content a {
  text-decoration: none;
}

@media (max-width: '1024px') {
  #all-content {
    height: auto;
  }
}

h1 {
  margin: 0px;
  font-size: 34px;
  letter-spacing: 1px;
  color: var(--font--color);
  text-align: center;
  line-height: 1.5em;
  font-size: 25px;
  font-weight: 800;
}

h1:active {
  color: var(--font--color);
}

/*
                      
 #    #   ##   #    # 
 ##   #  #  #  #    # 
 # #  # #    # #    # 
 #  # # ###### #    # 
 #   ## #    #  #  #  
 #    # #    #   ##   
                      
*/

nav {
  background-color: black;
  width: var(--nav--width-max1024px);
  height: 100%;
  color: var(--font--color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav > a {
  padding: 30px;
  background: var(--font--color);
}

nav h1 {
  color: black;
}

nav ul {
  list-style: none;
  padding: 0px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

@media (max-width: '1024px') {
  nav {
    position: fixed;
  }
}

@media (max-width: '425px') {
  nav {
    position: fixed;
    width: var(--nav--width-max425px);
    align-items: center;
  }
  nav h1 {
    font-size: 8px;
  }
  nav svg {
    width: 30px;
  }
  nav ul {
    font-size: 6px;
  }
}

nav ul li {
  padding: 15px;
}

.menuIcons {
  text-align: center;
}

.lienMenu {
  position: relative;
  text-align: center;
}

.menuTitles:hover {
  opacity: 1;
}

// si hover sur les icones, apparitions du titre de la partie à la place de l'icone
.lienMenu:after {
  position: absolute;
  letter-spacing: 2px;
  display: block;
  width: 100%;
  bottom: 0px;
  text-align: center;
  color: var(--font--color);
  align-self: center;
}

#chapeauIcon:hover:after {
  content: 'HOME';
  transform: translate(0%, -90%);
}

#chantierIcon:hover:after {
  content: 'PROJETS';
  transform: translate(0%, -90%);
}

@media (max-width: '425px') {
  #chantierIcon:hover:after {
    transform: translate(-36%, -93%);
  }
}

@media (max-width: '425px') {
  #chantierIcon svg {
    width: 20px;
  }
}

#lunettesIcon:hover:after {
  content: 'OFFRE';
  transform: translate(0%, -250%);
}

@media (max-width: '425px') {
  #lunettesIcon svg {
    width: 40px;
  }
}

#contactIcon:hover:after {
  content: 'CONTACT';
  transform: translate(0%, -200%);
}

@media (max-width: '425px') {
  #contactIcon:hover:after {
    transform: translate(-12%, -200%);
  }
}

//si hover sur les icones alors les icones .menuIcons deviennent cachées
.lienMenu:hover .menuIcons {
  visibility: hidden;
}

#bas-menu {
  color: var(--font--color);
  text-decoration: none;
  font-size: 13px;
}

#bas-menu img {
  width: 30px;
}

#liens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bas-menu #linkedin_icon {
  width: 20px;
}

/*                         
 #    #  ####  #    # ###### 
 #    # #    # ##  ## #      
 ###### #    # # ## # #####  
 #    # #    # #    # #      
 #    # #    # #    # #      
 #    #  ####  #    # ###### 
*/

#home {
  align-self: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-left: 20px;
}

@media (max-width: '1024px') {
  #home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: var(--nav--width-max1024px);
  }
}

#home #titre {
  padding-top: 35%;
  width: 45%;
  transition: all 1s ease-out;
}

@media (max-width: '1024px') {
  #home #titre {
    padding-top: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: '425px') {
  #home #titre,
  #icons .icons_text {
    font-size: 12px;
  }
}

// #home h1 {
//   font-size: 4em;
//   transition-property: font-size;
//   transition-duration: 0.5s;
//   display: inline;
//   opacity: 0;
// }

#home h2 {
  transition-property: font-size;
  transition-duration: 0.5s;
  display: inline;
}

#home h3 {
  font-size: 16px;
  transition-property: font-size;
  transition-duration: 0.5s;
  display: inline;
  opacity: 0;
}

@media (max-width: '1024px') {
  #home h3 {
    font-size: 25px;
  }
}

@media (max-width: '425px') {
  #home h3,
  #home p {
    font-size: 12px;
  }
}

#home h2:hover {
  font-size: 60px;
}

#home h1:hover {
  font-size: 120px;
}

#animation,
#icons {
  width: 50%;
  display: flex;
  margin: 10px;
}

@media (max-width: '1024px') {
  #animation,
  #icons {
    width: 50%;
    height: 50%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
  .each_icon {
  }
}

#icons {
  display: flex;
  flex-direction: column;
}

#icons img {
  width: 17%;
  margin-right: 10px;
}

.each_icon {
  height: 25%;
  display: flex;
  align-items: center;
}

.each_icon:nth-child(2),
.each_icon:nth-child(3) {
  margin-left: 25%;
}

//ne faire apparaitre le texte de chaque icone que quand on hover
#icons_text_1,
#icons_text_2,
#icons_text_3,
#icons_text_4 {
  opacity: 0;
  transition: opacity 0.5s, visibility 0.2s;
}

#icons .each_icon:hover #icons_text_1,
#icons .each_icon:hover #icons_text_2,
#icons .each_icon:hover #icons_text_3,
#icons .each_icon:hover #icons_text_4 {
  opacity: 1;
  visibility: visible;
}
//

#canvas {
  border: none;
  margin: 30px;
  align-self: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-image: url('../images/Code_canvas.png');
  background-size: 100%;
}

/*
 ######                                           
 #     # #####   ####       # ###### #####  ####  
 #     # #    # #    #      # #        #   #      
 ######  #    # #    #      # #####    #    ####  
 #       #####  #    #      # #        #        # 
 #       #   #  #    # #    # #        #   #    # 
 #       #    #  ####   ####  ######   #    ####  
                                                  
*/

#projets_menes h2 {
  text-align: center;
  margin: 50px;
  text-shadow: 2px 2px 2px var(--light--black);
}

@media (max-width: '1024px') {
  #projets_menes h2 {
    margin: 1em;
  }
}

#liste_projets {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#liste_projets img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
@media (max-width: '1024px') {
  #liste_projets img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    // opacity: 0.6;
  }
}
.projet {
  width: 33%;
  text-align: center;
  position: relative;
}

@media (max-width: '1024px') {
  #projets_menes {
    margin-left: var(--nav--width-max1024px);
  }
}

@media (max-width: '1024px') {
  .projet {
    width: auto;
    padding: 8px;
  }
}

@media (max-width: '1024px') {
  #liste_projets {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}

//quand hover sur les images des sites, apparition de la description et bouton "voir le site"
#description_projet_1,
#description_projet_2,
#description_projet_3 {
  opacity: 0;
  background-color: var(--font--color);
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.5s, visibility 0.2s;
  margin: 0;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

@media (max-width: '1024px') {
  #description_projet_1,
  #description_projet_2,
  #description_projet_3 {
    background: none;
    opacity: 1;
    color: var(--font--color);
    margin-bottom: 30px;
    position: relative;
  }

  #liste_projets a {
    text-decoration: none;
  }
}

.descriptions_projets {
  display: flex;
  flex-direction: column;
}

.descriptions_projets .lien_big_screens {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}

.descriptions_projets .lien_mobile {
  display: none;
}

@media (max-width: '1024px') {
  .descriptions_projets p,
  .descriptions_projets p a {
    display: none;
  }
  .descriptions_projets .lien_mobile {
    display: inline;
    color: var(--font--color);
  }
  .descriptions_projets .lien_big_screens {
    display: none;
  }
}

@media (max-width: '425px') {
  .descriptions_projets {
    font-size: 12px;
  }
}

.projet:hover #description_projet_1,
.projet:hover #description_projet_2,
.projet:hover #description_projet_3 {
  opacity: 1;
  visibility: visible;
}

/*
                                                
  ####   ####  #    # #####   ##    ####  ##### 
 #    # #    # ##   #   #    #  #  #    #   #   
 #      #    # # #  #   #   #    # #        #   
 #      #    # #  # #   #   ###### #        #   
 #    # #    # #   ##   #   #    # #    #   #   
  ####   ####  #    #   #   #    #  ####    #   
 */
#a_propos {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  display: flex;
}

@media (max-width: '1024px') {
  #a_propos h2 {
    font-size: 25px;
  }
}

#a_propos #presentation img {
  width: 30%;
  margin-bottom: 30px;
}

#a_propos #presentation p {
  width: 80%;
  display: block;
  margin: 5px;
  text-align: left;
  font-size: 20px;
}

@media (max-width: '425px') {
  #presentation p {
    font-size: 12px;
  }
}

#a_propos #presentation,
#a_propos #contact {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#a_propos #contact img {
  width: 200px;
  align-self: center;
}

@media (max-width: '1024px') {
  #a_propos {
    margin-top: 1em;
    margin-left: 10%;
    font-size: 15px;
  }
}

@media (max-width: '425px') {
  #a_propos {
    margin-top: 1em;
    margin-left: var(--nav--width-max425px);
    font-size: 15px;
    flex-direction: column;
  }
}

@media (max-width: '1024px') {
  #a_propos {
    flex-direction: column;
  }
}

@media (max-width: '1024px') {
  #a_propos #presentation {
    margin-bottom: 20px;
  }
}

@media (max-width: '425px') {
  #a_propos #presentation p {
    font-size: 12px;
  }
}

#a_propos h2 {
  margin: 15px;
  text-shadow: 2px 2px 2px var(--light--black);
  font-size: 30px;
}

#a_propos #contact div {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

#a_propos #contact #mailto {
  text-decoration: none;
  color: var(--font--color);
  margin-bottom: 10px;
}

#a_propos #contact a img {
  width: 60px;
  margin-top: 20px;
  margin: 5px;
}

#a_propos #contact #training {
  width: 100px;
}

#a_propos #contact em {
  font-size: 8px;
}

@media (max-width: '1024px') {
  #a_propos #contact em {
    font-size: 6px;
    margin: 40px 0px;
  }

  #a_propos #contact p {
    font-size: 20px;
  }
}

@media (max-width: '425px') {
  #a_propos #contact div p {
    font-size: 12px;
  }
}

// #a_propos div {
//   display: flex;
// }

// #a_propos div input {
//   width: 50%;
// }

// #a_propos div input:nth-child(1) {
//   margin-right: 20px;
// }

// #a_propos_form {
//   display: flex;
//   flex-direction: column;
//   width: 35vw;
// }

// #a_propos input,
// #a_propos textarea {
//   border-radius: 5px;
//   font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
//   font-size: 15px;
//   background: var(--light--background);
//   border: none;
//   margin: 15px 0px;
//   color: var(--font--color);
//   padding-left: 5px;
// }

// #a_propos input {
//   height: 40px;
// }

// #a_propos textarea {
//   height: 200px;
// }

// #a_propos input::placeholder,
// #a_propos textarea::placeholder {
//   color: var(--font--color);
//   padding-left: 5px;
//   font-style: italic;
//   font-size: 12px;
// }

// #a_propos button {
//   width: fit-content;
//   align-self: flex-end;
//   font-size: 15px;
//   font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
//   color: var(--font--color);
//   background: none;
//   padding: 15px;
//   border-radius: 5px;
//   border: 1px solid var(--font--color);
// }

// #a_propos input:hover,
// #a_propos input:focus,
// #a_propos textarea:hover,
// #a_propos textarea:focus {
//   outline: none !important;
//   box-shadow: 1px 2px var(--font--color);
// }

// #a_propos button:hover {
//   background-color: var(--font--color);
//   color: var(--light--background);
//   cursor: pointer;
// }

/*                                   
  ####  ###### ###### #####  ###### 
 #    # #      #      #    # #      
 #    # #####  #####  #    # #####  
 #    # #      #      #####  #      
 #    # #      #      #   #  #      
  ####  #      #      #    # ###### 
*/

#offre {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 40px;
  width: 100%;
}

@media (max-width: '1024px') {
  #offre {
    margin-left: var(--nav--width-max1024px);
    height: 100vh;
  }
}

@media (max-width: '425px') {
  #offre {
    margin-top: 0;
    margin-right: 0;
    margin-left: var(--nav--width-max425px);
    height: auto;
  }
}

@media (max-width: '1024px') {
  #offre {
    margin-top: 0;
    margin-right: 0;
    margin-left: var(--nav--width-max1024px);
    height: auto;
  }
}

#offre h2 {
  text-shadow: 2px 2px 2px var(--light--black);
  font-size: 30px;
}

#savoir-faire {
  display: flex;
  flex-direction: column;
}

@media (max-width: '1024px') {
  #savoir-faire {
    text-align: center;
  }
}

@media (max-width: '1024px') {
  #savoir-faire {
    margin: 20px;
  }
}

#savoir-faire h1 {
  text-align: center;
}

@media (min-width: '1024px') {
  #savoir-faire h1 {
    text-align: left;
  }
}

#savoir-faire h4 {
  font-size: 20px;
}

#savoir-faire ul {
  display: flex;
  list-style: none;
  margin-bottom: 0px;
}

@media (max-width: '1024px') {
  #savoir-faire ul {
    flex-direction: column;
    margin-top: 10px;
    padding-left: 0px;
  }
}

#savoir-faire ul li {
  width: 20%;
  margin: 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: '1024px') {
  #savoir-faire ul li {
    flex-direction: row;
    width: 100%;
  }
}

@media (max-width: '425px') {
  #savoir-faire ul li h1,
  #savoir-faire ul li h4 {
    font-size: 12px;
  }
}

#savoir-faire ul li h4 {
  text-align: center;
  margin-top: 25px;
}

@media (max-width: '1024px') {
  #savoir-faire ul li h4 {
    margin: 15px;
  }
}

@media (max-width: '425px') {
  #savoir-faire ul li h4 {
    text-align: left;
  }
}

#savoir-faire img {
  transition: 0.3s ease-in-out;
  background-color: var(--font--color);
  border-radius: 15px;
  width: 50%;
}

@media (max-width: '425px') {
  #savoir-faire img {
    width: 20%;
  }
}

@media (max-width: '1024px') {
  #savoir-faire img {
    width: auto;
  }
}

#savoir-faire img:hover {
  transform: scale(1.5);
}

#offre-basse {
  display: flex;
  justify-content: space-evenly;
  height: 50%;
  margin: 20px;
}

@media (max-width: '1024px') {
  #offre-basse {
    height: auto;
    flex-direction: column;
    margin: 0px 20px;
  }
}

@media (max-width: '425px') {
  #offre-basse {
    font-size: 12px;
  }
}

#offre-basse section {
  margin: 12px;
}

#offre-basse ul {
  list-style: none;
  width: 100%;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

#offre-basse #techniques {
  position: relative;
  width: 50%;
  margin: 12px;
}

@media (max-width: '1024px') {
  #offre-basse #techniques {
    width: 100%;
    height: 350px;
    text-align: center;
  }
}

#offre-basse #techniques li {
  position: absolute;
  padding: 6px;
  border-radius: 10px;
  height: 4em;
  text-align: center;
}

#offre-basse #techniques img {
  height: 100%;
}

#offre-basse #techniques li:nth-child(1) {
  top: 80%;
  left: 30%;
}

#offre-basse #techniques li:nth-child(1):hover {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(-0px);
  }
}

#offre-basse #techniques li:nth-child(2) {
  top: 60%;
  left: 60%;
}

#offre-basse #techniques li:nth-child(2):hover {
  animation: bounce 2s infinite;
}

#offre-basse #techniques li:nth-child(3) {
  top: 35%;
  right: 5%;
}

#offre-basse #techniques li:nth-child(3):hover {
  animation: bounce 2s infinite;
}

#offre-basse #techniques li:nth-child(4) {
  top: 55%;
  right: 70%;
}

#offre-basse #techniques li:nth-child(4):hover {
  animation: bounce 2s infinite;
}

#offre-basse #techniques li:nth-child(5) {
  top: 20%;
  left: 0%;
}

#offre-basse #techniques li:nth-child(5):hover {
  animation: bounce 2s infinite;
}

#offre-basse #secteurs {
  width: 50%;
}

@media (max-width: '1024px') {
  #offre-basse #secteurs {
    margin: 12px;
    width: 50%;
  }
}

@media (max-width: '1024px') {
  #offre-basse #secteurs {
    margin: 12px;
    width: 100%;
    text-align: center;
  }
}
